<div class="col-sm-12 col-md-6 col-lg-6">
  <div class="thumbnail"><img src="/images/photos/kidio2.jpg" style="width:100%" class="portrait"/>
    <div class="caption"><img src="https://media.licdn.com/mpr/mpr/shrink_60_60/p/5/005/074/188/1258602.jpg" class="img-circle profile"/>
      <div class="name">Anna Thompson</div>
      <div class="date">5 minutes</div>
      <h3>Beautiful day at the farm.</h3>
      <ul class="list-actions">
        <li> <a class="ion-ios-heart"></a></li>
        <li> <a class="ion-chatbox-working"></a></li>
        <li> <a class="ion-android-star"></a></li>
        <div style="clear:both"></div>
      </ul>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-6 col-lg-6">
  <div class="thumbnail"><img src="/images/photos/kidio1.jpg" style="width:100%" class="portrait"/>
    <div class="caption"><img src="https://media.licdn.com/mpr/mpr/shrink_60_60/p/5/005/074/188/1258602.jpg" class="img-circle profile"/>
      <div class="name">Anna Thompson</div>
      <div class="date">5 minutes</div>
      <h3>Julie is so happy</h3>
      <ul class="list-actions">
        <li> <a class="ion-ios-heart"></a></li>
        <li> <a class="ion-chatbox-working"></a></li>
        <li> <a class="ion-android-star"></a></li>
        <div style="clear:both"></div>
      </ul>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-6 col-lg-6">
  <div class="thumbnail"><img src="/images/photos/kidio3.jpg" style="width:100%" class="portrait"/>
    <div class="caption"><img src="https://media.licdn.com/mpr/mpr/shrink_60_60/p/5/005/074/188/1258602.jpg" class="img-circle profile"/>
      <div class="name">Anna Thompson</div>
      <div class="date">5 minutes</div>
      <h3>My darling.</h3>
      <ul class="list-actions">
        <li> <a class="ion-ios-heart"></a></li>
        <li> <a class="ion-chatbox-working"></a></li>
        <li> <a class="ion-android-star"></a></li>
        <div style="clear:both"></div>
      </ul>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-6 col-lg-6">
  <div class="thumbnail"><img src="/images/photos/kidio4.jpg" style="width:100%" class="portrait"/>
    <div class="caption"><img src="https://media.licdn.com/mpr/mpr/shrink_60_60/p/5/005/074/188/1258602.jpg" class="img-circle profile"/>
      <div class="name">Anna Thompson</div>
      <div class="date">5 minutes</div>
      <ul class="list-actions">
        <li> <a class="ion-ios-heart"></a></li>
        <li> <a class="ion-chatbox-working"></a></li>
        <li> <a class="ion-android-star"></a></li>
        <div style="clear:both"></div>
      </ul>
    </div>
  </div>
</div>
